.button {
    display: block;
    margin: 40px auto;
    padding: 10px;
        font-weight: 700;
        background-color: #2d0c0c;
        color: #ffffff;
        width: 100px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover,
.button:focus {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}